{% block category_selection_group_widget %}
    <div class="list-group m-0 list-group-flush" {{ stimulus_controller('list-group-search') }}>
        {% if searchable %}
            <div class="list-group-item bg-white justify-content-between align-items-center sticky-top">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{ 'search'|trans }}"
                           aria-label="{{ 'search'|trans }}"
                           aria-describedby="basic-addon1" {{ stimulus_target('list-group-search', 'input') }} {{ stimulus_action('list-group-search', 'type', 'keyup') }}>
                </div>
            </div>
        {% endif %}
        {% for choice in choices %}
            {% if choice.data.categories.count > 0 %}
                <div class="list-group-item list-group-item-action {{ choice.data.categories.count == 0 ? 'bg-light' }} d-flex justify-content-between align-items-center"
                        {{ stimulus_target('list-group-search', 'item') }} >
                    <input style="-ms-transform: scale(2)!important;-webkit-transform: scale(2)!important;transform: scale(2)!important;"
                           type="{{ form.vars.multiple ? 'checkbox' : 'radio' }}" id="{{ id ~ '_' ~ choice.value }}"
                           name="{{ full_name ~ '[]' }}"
                           value="{{ choice.value }}" {% if choice.value in value %}checked{% endif %}
                            {{ stimulus_target('list-group-search', 'checkbox') }}
                    >
                    <label for="{{ id ~ '_' ~ choice.value }}" class="fw-bold w-75 text-end">
                        {{ choice.label|default(null)|trans({}, translation_domain) }}
                    </label>
                </div>
            {% else %}
                <div class="list-group-item bg-light fw-bold">
                    {{ choice.label|trans|capitalize }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}