{% extends 'base.html.twig' %}

{% block body %}

    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="grid gap-2 mb-6 md:grid-cols-2 justify-start px-6 mx-auto lg:py-0">

            <div class="max-w mb-3 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                <img class="mx-auto mb-3 rounded-full w-36 h-36" src="{{ app.user.avatar }}"/>


                {{ form_start(userAccountForm) }}
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        {{ form_row(userAccountForm.firstName) }}
                    </div>
                    <div>
                        {{ form_row(userAccountForm.lastName) }}
                    </div>
                    <div>
                    </div>
                </div>
                <a href="{{ path('user_email_addresses') }}"
                   class="list-group-item list-group-item-action">
                    <div class="text-muted mb-3">{{ 'multiple-email-account-explainer'|trans }}</div>
                    <div class="d-flex justify-content-start align-items-center mb-3">
                        {% for email in app.user.emails %}
                            <div class="badge rounded-pill {{ email == app.user.email ? 'text-bg-primary' : 'text-bg-secondary' }}">{{ app.user.email.address }}</div>
                        {% endfor %}
                    </div>
                </a>

                <div>
                    {{ form_row(userAccountForm.avatar) }}
                </div>
                <div>
                    {{ form_row(userAccountForm.originCountry) }}
                </div>
                <div>
                    {{ form_row(userAccountForm.currentCountry) }}
                </div>

                <a href="{{ path('change_user_password') }}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div> {{ 'change-password'|trans|capitalize }}</div>
                    <div class="bi bi-key fs-3"></div>
                </a>


                <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Submit
                </button>
                {{ form_end(userAccountForm) }}
            </div>


            <div class="max-w p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                {{ form_start(phoneNumberForm) }}

                <div class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <a href="{{ path('create_user_phone_number') }}"
                       class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer dark:bg-gray-800 dark:border-gray-600">
                        <div>{{ 'add-phone-number'|trans }}</div>
                        <div class="bi bi-plus-circle fs-4"></div>
                    </a>
                    {{ form_row(phoneNumberForm.phoneNumber) }}
                    <button type="submit"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        save
                    </button>
                </div>
                {{ form_end(phoneNumberForm) }}
            </div>


        </div>
    </section>
{% endblock %}