{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6">
                <div class="fs-3 fw-bold text-end">{{ 'change-password'|trans|upper }}</div>
                <hr class="mt-0"/>
                {{ form_start(userPasswordForm) }}
                <div class="card mb-5">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">{{ form_row(userPasswordForm.currentPassword) }}</div>
                        <div class="list-group-item">{{ form_row(userPasswordForm.newPassword) }}</div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary w-100">{{ 'change-password'|trans }}</button>
                    </div>
                </div>
            </div>
            {{ form_end(userPasswordForm) }}
        </div>
    </div>
{% endblock %}