{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4">
                <div class="card">
                    {{ include('partials/_account-navbar.html.twig') }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="fs-3 fw-bold text-end">{{ 'conversations'|trans|upper }}</div>
                <hr class="mt-0"/>

                <div class="list-group mb-3">
                    {% for conversation in conversationPagination %}
                        <a href="{{ path('show_conversation', {id: conversation.id}) }}"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center">
                                <div>
                                    <img src="{{ conversation.owner.avatar }}" height="50"
                                         class="border  me-2"/>
                                </div>
                                <div>
                                    <div class="fw-bold lh-1">{{ conversation.owner.fullName }}</div>
                                    <div>{{ conversation.createdAt|format_datetime(timezone=regional.timezone,pattern=date_time_pattern) }}</div>
                                </div>
                            </div>
                            <div class="text-muted w-50">{{ conversation.messages.last.content|slice(0, 50) }}
                                ...
                            </div>
                        </a>
                    {% else %}
                        <div class="list-group-item text-center text-muted fw-bold">{{ 'no-conversation-found'|trans|upper }}</div>
                    {% endfor %}

                    {% if conversationPagination.getTotalItemCount() > conversationPagination.getItemNumberPerPage() %}
                        <div class="list-group-item">
                            {{ knp_pagination_render(conversationPagination, viewParams={align: 'center', size: 'medium'}) }}
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}